/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.7;
  padding: 20px;
}

/* Titlu principal */
.title {
  text-align: left;
  font-family: "Rubik", sans-serif;
  color: #2e594d;
}

.title h2 {
  font-family: "Ancizar Serif", serif;
  font-style: italic;
  color: black;
}

/* Navigație */
.navigation {
  text-align: center;
  width: 100%;
  background-color: #2e594d;
  padding: 10px 0;
}

.navigation li {
  display: inline;
  margin: 0 20px;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.link:hover {
  color: #c1e1c1;
}

/* Containerul principal */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%;
  background-color: rgba(193, 225, 193, 0.7);
  border-top: 2px solid #2e594d;
  border-bottom: 2px solid #2e594d;
  
}

/* Elemente din container */

.impitem {
  padding: 10px;
  margin: 5px;
}

.impitem img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #2e594d;
  object-fit: cover;

}
.impitem h1{
  font-family: "Ancizar Serif", serif;
  font-style: italic;
  font-size: 60px;
  text-align: left;
  margin-right: 300px;
}
.impitem p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: #555;
  text-align: center;
    margin-right: 300px;

}

.item {
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 70%;
}

.item summary {
  font-family: "Ancizar Serif", serif;
  font-weight: bold;
  color: #2e594d;
  text-align: left;
  font-size: 16px;
  
}

.item img {
  max-width: 100%;
  border-radius: 20%;
  height: 370px;
  border: 5px solid #2e594d;

}
 
.item p {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #555;
}

.item h1{
  font-size: 24px;
}

/* Footer */
footer {
  background-color: #f5f5f5;
  padding: 20px;
  border-top: 2px solid #2e594d;
}

.footercontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer {
  font-family: "Rubik", sans-serif;
  color: #2e594d;
  margin: 10px;
}

.footer h2 {
  font-family: "Ancizar Serif", serif;
  font-style: italic;
  color: black;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.contactlogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactlogo img {
  width: 24px;
  height: 24px;
}


.container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  background-color: rgba(193, 225, 193, 0.5);
  border-top: 2px solid #2e594d;
  border-bottom: 2px solid #2e594d;
}


.item h2{
  font-size: 13px;
}

.info-list {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #333;
  padding-left: 20px;
  }

.info-list li {
  line-height: 1.2;
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #555;
  padding-left: 20px;

  
}


p{
  text-align: left;
}

ol li{
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #333;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.2;
  
}

.important{
  font-family: "Rubik", sans-serif;
  color: #d64550 !important;
  font-size: 17px !important;
}

.text{
  margin-bottom: 10px;
  line-height: 1.2;
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #333;
  padding-left: 20px;
  margin-top: 10px;
  
}

.container2 h2 {
  text-align: left;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

.container2 h1{
  font-family: "Ancizar Serif", serif;
}
.diffrent{
  color: #d64550;
  text-decoration: solid underline;
}

h3{
  text-align: left;
  
}

